* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Roboto", sans-serif;
	vertical-align: baseline;
}

body {
    background-color: #FFFFFF;
}

header {
    position: fixed;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    top: 0;
}

#owl {
    display: inline-block;
    position: absolute;
    left: 50px;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    margin-right: 120px;
    color:#636060;
    font-weight: 700;
}

#greece {
    margin-top: 30px;
    width: 100%;
    height: 700px;
}

.absolute1 {
    position: absolute;
    top: 340px;
    left: 640px;
    font-size: 79px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ffffff;
    
}

.absolute2 {
    position: absolute;
    top: 450px;
    left: 770px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.disc {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #636060;
    margin-left: 167px;
    margin-top: 65px;
}

.hot {
    font-size: 28px;
    font-weight: 400;
    color: #010101;
    font-family: "Roboto", sans-serif;
    margin-left: 165px;
}

.text1 {
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    font-family: "Roboto", sans-serif;
    margin-left: 165px;
}

.discover {
    display: inline-block;
}

.bigdiv {
    display: inline-block;
}

.img1 {
    display: inline-block;
    position: absolute;
    top: 845px;
    left: 440px;
}

.flight {
    font-size: 19px;
    font-weight: 400;
    color: #343232;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}

.text2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #636060;
    font-family: "Roboto", sans-serif;
}

.img2 {
    display: inline-block;
    position: absolute;
    top: 845px;
    left: 760px;
}

.hotel {
    font-size: 19px;
    font-weight: 400;
    color: #343232;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}

.img3 {
    display: inline-block;
    position: absolute;
    top: 845px;
    left: 1080px;
}

.img4 {
    display: inline-block;
    position: absolute;
    top: 1220px;
    left: 440px;
}

.img5 {
    display: inline-block;
    position: absolute;
    top: 1220px;
    left: 760px;
}

.img6 {
    display: inline-block;
    position: absolute;
    top: 1220px;
    left: 1080px;
}

i {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    #greece {
        width: 1750px;
    }

    #owl {
        left: 100px;
    }

    i {
        display: none;
    }

    header {
        position: fixed;
        justify-content: flex-end;
        display: flex;
        width: 100%;
    }
    
    .absolute1 {
        width: 700px;
        left: 700px;
    }
    
    .absolute2 {
        width: 400px;
        left: 820px;
    }

   .img1 {
    width: 100%;
    margin-left: 20px;
   }

   .img2 {
    width: 100%;
    margin-left: 20px;
   }

   .img3 {
    width: 100%;
    margin-left: 20px;
   }

   .img4 {
    width: 100%;
    margin-left: 20px;
   }

   .img5 {
    width: 100%;
    margin-left: 20px;
   }

   .img6 {
    width: 100%;
    margin-left: 20px;
   }
}

@media only screen and (max-width: 480px) {
    #greece {
        width: 1450px;
    }

    i {
        display: inline-block !important;
        position: absolute;
        left: 1260px;
    }

    nav {
        display: none;
    }

    .disc {
        margin-right: 30px;
    }

    .absolute1 {
        width: 700px;
        left: 480px;
    }
    
    .absolute2 {
        width: 400px;
        left: 600px;
    }

    .img1 {
    width: 100%;
    }
    
    .img2 {
     width: 100%;
    }
    
    .img3 {
     width: 100%;
    }
    
    .img4 {
    width: 100%;
    }
    
    .img5 {
    width: 100%;
    }
    
    .img6 {
    width: 100%;
    }
}


